body {
    min-height: 100vh;
    display: flex;
    font-family: "Roboto";     
    margin: 0px;
    flex-direction: column;
}


.section1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2938;
    color: white;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.right-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB
}

.headerlogo {
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8
}

.content1 {
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-left1 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex: 0 0 auto;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    align-self:flex-start;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

img {
    width: 400px;
    height:auto;
    border-radius: 4px;
}

.section2 {
    background-color: white;
    min-height: 400px;
}

.section3 {
    background-color: #E5E7EB;
    min-height: 300px;
}

.section4 {
    background-color: white;
    min-height: 200px;
}