body {
    min-height: 100vh;
    display: flex;
    font-family: "Roboto";     
    margin: 0px;
    flex-direction: column;
    zoom: 175%;
}


.section1 {
    display: flex;
    flex: 1;
    background-color: #1F2938;
    color: white;
    padding: 8px 120px 100px 120px;
    gap: 20px
}

.right-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    align-self: flex-end;
    margin-bottom: 100px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8;
    margin-bottom: 80px;
}

.content-left1 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex: 0 0 auto;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.content-right1 {
    display:flex;
    flex-direction: column;
}

button {
    align-self:flex-start;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.top {
    width: 400px;
    height:auto;
    border-radius: 4px;
}

.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 250px 80px;
    align-items: center;
    white-space: nowrap;
    font-size: 36px;
    color: #1F2938;
}

.box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    
}

.box div {
    text-align: center;
    font-size: 18px;
    color: #808183;

}

.images {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f29378c;
}

.quoter {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 300;
}

.section4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px
}

.bluebox {
    display: flex;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 30px 50px;
    margin-bottom: 60px;
    color: #E5E7EB;
    gap: 110px;
}

.footer {
    color: #E5E7EB;
    background-color: #1F2938;
    align-self: stretch;
    text-align: center;
    padding: 20px;
}

.footerbutton {
    border: 2px solid white;
}